<main class="px-[16px] mt-6 text-theme duration-150 transition-colors">

  @if(!countriesService.countriesLoaded()){

  <app-country-loader />

  }@else if(countriesService.countriesLoaded() && !countriesService.countriesLoadedFailed()){

  <app-search />

  <!-- If a search isn't made it will appear all countries or all countries with region -->
  <section class="mt-8 grid md:grid-cols-2 gap-10 animate-fade-in"
    *ngIf="countriesService.countriesSearchSignal() == null">
    <app-country-container [GetCountry]="country" *ngFor="let country of countriesService.countriesSignal()" />
  </section>

  <!-- If a search is made and isn't empty it will appear all countries filtered in the region or all -->
  <section class="mt-8 grid md:grid-cols-2 gap-10 animate-fade-in"
    *ngIf="countriesService.countriesSearchSignal()?.length != 0">
    <app-country-container [GetCountry]="country" *ngFor="let country of countriesService.countriesSearchSignal()" />
  </section>

  <!-- If a search is made and is empty it will appear a message that wasn't found a country -->
  <section class="mt-8 animate-fade-in" *ngIf="countriesService.countriesSearchSignal()?.length == 0">
    <h2 class="text-2xl text-center">No Countries found</h2>
  </section>

  }@else{
  <app-country-failed />
  }
</main>